# This is Git's per-user configuration file.
[user]
	name = birdisaword
	email = knockmedown89@protonmail.com
# Please adapt and uncomment the following lines:
#	name = Anastasia Novosyolova
#	email = anastasia@Anastasias-MacBook-Air.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
