
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background: rgb(236, 236, 236);
  overflow-y: hidden;
}

@font-face {
  font-family: SWfont;
  src: url(Starjhol.ttf);
}

.wrapper {
  width: 65em;
  height: 85%;
  margin: 2vh auto;
  box-shadow: 8px 10px 40px #282a2e;
  background: #30363e;
}

.name {
  font-family: SWfont;
  font-size: 80px;
  text-align: center;
  text-shadow: 10px 8px 14px #1b1c1d;
  color: #fde814;
  overflow: hidden;
  white-space: nowrap;
}

.characterFrame, #planetFrame {
    display:block; 
    margin: 2% auto; 
    max-height:45vh;
    max-width: 90vh;
    background: #3b434d;
    border: none;
    border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

.charImg, .planetImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  float: left;
  object-fit: cover;
  margin: 3%;
}

.planetImg {
  margin: 3vh 5vh;
}

.charCard {
  margin-top: 10%;
}

.planetCard {
  margin-top: 20%;
}

.go_back {
  width: 46%;
  height: 100%;
  border-radius: 15px;
  background: #3b434d;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  box-shadow: 2px 4px 4px #30363e;
  margin: 0 26%;
}

.get_info, .next {
  min-width: 19vh;
  height: 100%;
  border-radius: 15px;
  background: #3b434d;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.get_info{
  margin-right: 1vh;
}

.next{
  margin-left: 1vh;
}

.get_info, .next {
  box-shadow: 2px 4px 4px #30363e;
}

.get_info:hover, .next:hover, .go_back:hover {
  box-shadow: 2px 4px 4px #41a3a6;
}

#buttons{
  margin: 3% auto;
  height: 5%;
  width: 45vh
}

.character {
  width: 90%;
  margin: auto 5%;
  float:left;
}

.planets {
  width:50%;
  display: inline-block
}