

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
color: white;
  background: #152036;
  overflow-y: hidden;
}

#frame {
    display:block; 
    margin: 2% auto; 
    height:73%;
    width: 65%;
    background: #192b48;
    border: none;
    border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

.charImg, .planetImg {
  border-radius: 50%;
  /* border: solid red 3px; */
  width: 150px;
  height: 150px;
  float: left;
  object-fit: cover;
  margin: 3%;
}

.charCard, .planetCard {
  /* border: solid red 3px; */
  /* align-items: center;  */
  /* justify-content: left; */
/* width: 90%; */
  margin-top: 10%;
/* transform: translateY(70%); */
}

.get_info, .next {
  width: 45%;
  height: 100%;
  border-radius: 15px;
  background: #192b48;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: none;

}


.buttons{
  /* border: solid yellow; */
  margin: 5% 35% 0;
  height: 5%;
  width: 30%
}

.character {
  /* border: solid yellow; */
  /* height: 500px; */
  width: 90%;
  margin: auto 5%;
 float:left;
}